<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Header</title>
  </head>
  <body>
    <header>
      <div class="header__logo-container">
        <img src="assets/mkxlogo.png" alt="logo" id="header__logo" />
        <h1>FRAMEALITY</h1>
      </div>
      <div class="header__btn-container">
      <a
      href="https://discord.com/oauth2/authorize?client_id=1235780072523169932&permissions=68608&scope=bot"
      target="_blank"
    >
      <button id="header__git-btn">Github</button></a
    >
      <a
        href="https://discord.com/oauth2/authorize?client_id=1235780072523169932&permissions=68608&scope=bot"
        target="_blank"
      >
        <button id="header__cord-btn">Add to Discord</button></a
      >
      </div>
    </header>
  </body>
</html>
